/*h1{

	background-color: lightyellow;
	color:white;
	font-size: 400%
}

a{

	background: red;

}

#divisorConstan{

	width:800px;
	height: 300px;
	border: 10px solid #c3c3c3;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;



}

.claseConstan{

	width:800px;
	height: 300px;
	border: 10px solid #c3c3c3;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;

}
*/


/*FUENTE VERTIGO*/
@font-face{

		font-family: 'VertigoFLF';
		src: url(../fonts/VertigoFLF.ttf);

}

/*************CSS verEvento****************/

#background2{

	background-color: #FB6D00;

}

#map{

	height: 400px;
    width: 50%;

}


#parallelogram {
   width: 400px; 
   height: 95px;
   background: #585858;
   /* Skew */
   -webkit-transform: skew(-20deg); 
   -moz-transform: skew(-20deg); 
   -o-transform: skew(-20deg);
   transform: skew(-20deg);
   margin-left:-19px;
}

#parallelogram::after{

  content: "";
  position: absolute;
  height:100px;
  width: 50px;
  top: 0px;
  right:0px;
  border-left: 50px solid transparent;
  border-right: -20px solid transparent;
  border-top: 50px solid #848484;

}


.vertigoFont{

	font-family: VertigoFLF;

}


.content-template{

	width:1100px;
	height: 50%;
	text-indent: 40px;
	background-color: #2E2E2E;
	color:white;
}

.image-guest{

	width:150px;
	height:200px;
	background-color: #A4A4A4;

}

.header-font{

	font-family: VertigoFLF;
	font-size: 300%;

}

.paragraph-font{

	font-family: VertigoFLF;
	font-size: 200%;

}


/***********CSS AP_Perfil***************/
#background1 {
	
	background-image: url(../images/event4.jpg);
	background-size: 100%
	
}


.clasePanel{

	width:600px;
	height:100px;
	position:absolute;
	top:50%;
	left:45%;
	margin-top: -50px;
	margin-left: -50px;
	justify-content: center;
	font-family: VertigoFLF;
	
}

.clasePanelSuperior{

	width:600px;
	height:100px;
	position:absolute;
	top:10%;
	left:90%;
	margin-top: -50px;
	margin-left: -50px;
	justify-content: center;
	font-family: VertigoFLF;
}

.clase_perfil_informacionUsuario{

	
	font-family: VertigoFLF;

}

.imageAlign_informacionUsuario{

	width:600px;
	height:100px;
	position:absolute;
	top:30%;
	left:41%;
	margin-top: -50px;
	margin-left: -50px;
	justify-content: center;
	font-family: VertigoFLF;

}

.clase_perfil_image{

	width:600px;
	height:100px;
	position:absolute;
	top:30%;
	left:50%;
	margin-top: -50px;
	margin-left: -50px;
	justify-content: center;


}


